img {
    display: inline-block;
}

header {
    float: left;
    width: 100%;
}

nav {
    float: right;
    width: 70%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    text-align: right;
}

nav li a {
    display: inline-block;
    text-align: right;
    padding: 0.5em 1em;
    text-decoration: none;
}

aside {
    float: left;
    width: 30%;
    height: 100%;
}

content {
    float: right;
    width: 70%;
}

h1 {
    text-align: center;
}

footer {
    font-size: 0.75em;
    float: left;
    text-align: center;
    padding: 0 1em;
    width: 100%;
    bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

footer li {
    display: inline-block;
}

footer li a {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}